Source: lxd
Section: admin
Priority: optional
Maintainer: el-eks-di Project <el-eks-di@users.noreply.github.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: lxd
Architecture: amd64
Depends: ${shlibs:Depends}, acl, adduser, attr, binutils, fuse, iproute2, libacl1, libc6, libuv1, lsb-base, libudev1, passwd, quota, rsync, squashfs-tools, uidmap, xdelta3, xfsprogs, xz-utils
Suggests: bash-completion, dnsmasq-base, ebtables, iptables
Description: Container hypervisor based on LXC
 This package contains the LXD daemon, CLI, LXCFS daemon, LXC library.
